//COLORS
$color-white: hsl(0, 0%, 100%);
$color-black: hsl(0, 0%, 0%);
$color-dark-gray: hsl(0, 0%, 55%);
$color-darker-gray: hsl(0, 0%, 41%);

//FONTS
$font-primary: "Alata", sans-serif;
$font-secondary: "Josefin Sans", sans-serif;

//BREAKPOINTS
$bp-xs: 31.25em; //500px
$bp-sm: 43.75em; //700px
$bp-med: 56.25em; // 900px

//RESETS
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%; // 10px

  @media only screen and(max-width:$bp-med) {
    font-size: 50%;
  }
}

body {
  font-size: 1.5rem;
  line-height: 1;

  background-color: $color-white;
}

.container {
  display: grid;
  grid-template-rows: min-content 40vw repeat(2, min-content);
  grid-template-columns:
    [full-start]minmax(6rem, 1fr) [center-start]repeat(
      4,
      [col-start] minmax(min-content, 30rem) [col-end]
    )
    [center-end] minmax(6rem, 1fr) [full-end];

    
}
