.gallery {
  grid-column: center-start / center-end;

  @media only screen and(max-width:$bp-sm) {
    padding-top: 40rem;
    grid-template-columns: 1fr;
    gap: 3rem;
    align-items: start;
  }

  &__container {
    display: grid;
    grid-template-columns: repeat(
      auto-fit,
      minmax(25rem, 1fr)
    ); //responsive without media query
    row-gap: 4rem;
    column-gap: 4rem;
  }

  &__image {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);

    img {
      width: 100%;
      grid-column: 1 / -1;
      grid-row: 1/ -1;
      cursor: pointer;
      z-index: 0;
      transition: all 0.3s ease-in;

      @media only screen and(max-width:$bp-sm) {
        width: 100%;
        height: 20rem;
        margin-bottom: 0;
        object-fit: cover;
      }

      &:hover {
        opacity: 0.2;
      }

      &:hover + h3 {
        color: $color-black;
      }
    }

    h3 {
      grid-column: 1 / -1;
      grid-row: 2/ -1;
      align-self: flex-end;
      padding: 3rem;
      z-index: 1;
      transition: all 0.3s ease-in;

      @media only screen and(max-width:$bp-sm) {
        grid-row: 1/ -1;
        font-size: 3rem;
        padding-right: 30rem;
      }
    }
  }

  &__heading {
    display: flex;
    justify-content: space-between;
  }
}

.button {
  background-color: $color-white;
  color: $color-black;
  border: 1px solid $color-black;
  padding: 1.5rem 5rem;
  font-family: $font-primary;
  font-size: 1.5rem;
  text-transform: uppercase;
  letter-spacing: 1rem;
  cursor: pointer;
  transition: all 0.3s ease-in;

  &:hover {
    color: $color-white;
    background-color: $color-black;
  }
}
