.header {
  grid-column: full-start / full-end;

  padding-bottom: 10rem;
  padding-top: 5rem;
  background-image: url("../images/desktop/image-hero.jpg");
  background-position: top;
  background-size: cover;
  background-repeat: no-repeat;

  display: grid;
  grid-template-columns:
    [full-start]minmax(6rem, 1fr) [center-start]repeat(
      4,
      [col-start] minmax(min-content, 30rem) [col-end]
    )
    [center-end] minmax(6rem, 1fr) [full-end];
  row-gap: 5rem;

  @media only screen and(max-width:$bp-xs) {
    grid-template-columns: minmax(4rem, 1fr) auto minmax(0, 1fr) minmax(4rem, 1fr);
  }

  &__logo {
    grid-column: 2 / 3;
    z-index: 5000;

    @media only screen and(max-width:$bp-xs) {
      grid-column: 2/-1;
    }
  }

  &__nav {
    grid-column: 5 / 6;
    grid-row: 1/2;

    display: flex;
    gap: 2rem;

    @media only screen and(max-width:$bp-sm) {
      display: none;
    }
  }
}
