%heading {
  text-transform: uppercase;
  font-family: $font-primary;
  font-weight: 400;
  letter-spacing: 0.3rem;
  color: $color-darker-gray;
}

.heading-1 {
  @extend %heading;
  color: $color-white;
  padding: 3rem;
  border: 1px solid $color-white;
  font-size: 5rem;
  width: 137%;
  grid-column: 2 / 3;
  margin-top: 15rem;

  @media only screen and(max-width:$bp-sm) {
    width: 100%;
    font-size: 3rem;
  }
}

.heading-2 {
  @extend %heading;
  font-size: 4rem;

  @media only screen and(max-width:$bp-sm) {
    text-align: center;
  }
}
.heading-3 {
  @extend %heading;
  font-size: 3rem;
  color: $color-white;
}
.story__text {
  font-family: $font-secondary;
  font-size: 1.5rem;
  line-height: 1.5;
  color: $color-dark-gray;
}

//MARGIN TOP HELPER CLASSES
.mt-sm {
  margin-top: 4rem;
}
.mt-med {
  margin-top: 6rem;
}
.mt-large {
  margin-top: 20rem;
}
