%heading {
  text-transform: uppercase;
  font-family: $font-primary;
  font-weight: 400;
  letter-spacing: 0.3rem;
  color: $color-darker-gray;
}

.heading-1 {
}
.heading-2 {
  @extend %heading;
  font-size: 4rem;
}
.heading-3 {
  @extend %heading;
  font-size: 3rem;
  color: $color-white
}
.story__text {
  font-family: $font-secondary;
  font-size: 1.5rem;
  line-height: 1.5;
  color: $color-dark-gray;
}

//MARGIN TOP HELPER CLASSES
.mt-sm {
  margin-top: 4rem;
}
.mt-med {
  margin-top: 6rem;
}
.mt-large {
  margin-top: 20rem;
}
