*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 62.5%;
}

@media only screen and (max-width: 56.25em) {
  html {
    font-size: 50%;
  }
}

body {
  font-size: 1.5rem;
  line-height: 1;
  background-color: white;
}

.container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: [full-start] minmax(6rem, 1fr) [center-start] ([col-start] minmax(min-content, 30rem) [col-end])[4] [center-end] minmax(6rem, 1fr) [full-end];
      grid-template-columns: [full-start] minmax(6rem, 1fr) [center-start] repeat(4, [col-start] minmax(-webkit-min-content, 30rem) [col-end]) [center-end] minmax(6rem, 1fr) [full-end];
      grid-template-columns: [full-start] minmax(6rem, 1fr) [center-start] repeat(4, [col-start] minmax(min-content, 30rem) [col-end]) [center-end] minmax(6rem, 1fr) [full-end];
}

.about {
  grid-column: center-start / center-end;
  display: -ms-grid;
  display: grid;
  padding-top: 10rem;
  -ms-grid-columns: (1fr)[8];
      grid-template-columns: repeat(8, 1fr);
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

@media only screen and (max-width: 43.75em) {
  .about {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    -ms-grid-rows: 1fr;
        grid-template-rows: 1fr;
    gap: 5rem;
    padding-top: 0;
  }
}

@media only screen and (min-width: 106.25em) {
  .about {
    -ms-grid-rows: none;
        grid-template-rows: none;
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
    height: -webkit-min-content;
    height: -moz-min-content;
    height: min-content;
  }
}

.about__img {
  width: 120%;
  -ms-grid-column: 1;
  -ms-grid-column-span: 4;
  grid-column: 1 / span 4;
  grid-row: 1 / -1;
  border: 2px solid white;
}

@media only screen and (max-width: 43.75em) {
  .about__img {
    -ms-grid-row: 1;
    grid-row: 1;
    grid-column: 1/ -1;
    width: 100%;
    padding-top: 100px;
  }
}

.about__content {
  background-color: white;
  grid-column: 5 / -1;
  grid-row: 5/ -1;
  padding: 8rem 0 0 8rem;
}

@media only screen and (max-width: 43.75em) {
  .about__content {
    text-align: center;
    grid-column: 1/ -1;
    grid-row: 2 /-1;
    padding: 0;
  }
}

.footer {
  background-color: black;
  grid-column: full-start / full-end;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: [full-start] minmax(6rem, 1fr) [center-start] ([col-start] minmax(min-content, 30rem) [col-end])[4] [center-end] minmax(6rem, 1fr) [full-end];
      grid-template-columns: [full-start] minmax(6rem, 1fr) [center-start] repeat(4, [col-start] minmax(-webkit-min-content, 30rem) [col-end]) [center-end] minmax(6rem, 1fr) [full-end];
      grid-template-columns: [full-start] minmax(6rem, 1fr) [center-start] repeat(4, [col-start] minmax(min-content, 30rem) [col-end]) [center-end] minmax(6rem, 1fr) [full-end];
  -ms-grid-rows: (1fr)[2];
      grid-template-rows: repeat(2, 1fr);
}

@media only screen and (max-width: 31.25em) {
  .footer {
    text-align: center;
  }
}

@media only screen and (max-width: 31.25em) {
  .footer {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    -ms-grid-rows: 15rem;
        grid-template-rows: 15rem;
  }
}

.footer__logo {
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2 /3;
}

@media only screen and (max-width: 31.25em) {
  .footer__logo {
    grid-column: 1/-1;
    padding-top: 3rem;
    -ms-grid-column-align: center;
        justify-self: center;
  }
}

.footer__nav {
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2 /3;
  grid-row: 2 / -1;
  margin-top: 4rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 2rem;
}

@media only screen and (max-width: 31.25em) {
  .footer__nav {
    grid-column: 1/-1;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-top: 0;
  }
}

.footer__link {
  text-decoration: none;
  list-style-type: none;
  color: white;
  font-family: "Alata", sans-serif;
  cursor: pointer;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.footer__link:hover::after {
  content: "";
  display: block;
  margin: 0 auto;
  width: 50%;
  padding-top: 1rem;
  border-bottom: 2px solid white;
}

.footer__icons {
  -ms-grid-column: 5;
  -ms-grid-column-span: 1;
  grid-column: 5/ 6;
  justify-self: flex-end;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 2rem;
}

@media only screen and (max-width: 31.25em) {
  .footer__icons {
    grid-column: 1/ -1;
    -ms-grid-column-align: center;
        justify-self: center;
  }
}

.footer__icon {
  fill: white;
  height: 2.5rem;
  width: 2.5rem;
  cursor: pointer;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.footer__icon:hover {
  padding-bottom: 0.5rem;
  border-bottom: 2px solid white;
}

.footer p {
  color: white;
  -ms-grid-column: 5;
  -ms-grid-column-span: 1;
  grid-column: 5/ 6;
  grid-row: 2 / -1;
  justify-self: flex-end;
}

@media only screen and (max-width: 43.75em) {
  .footer p {
    font-size: 1rem;
  }
}

@media only screen and (max-width: 31.25em) {
  .footer p {
    grid-column: 1/-1;
    -ms-grid-row: 4;
    -ms-grid-row-span: 1;
    grid-row: 4/5;
    -ms-grid-column-align: center;
        justify-self: center;
    font-size: 2rem;
  }
}

.gallery {
  grid-column: center-start / center-end;
  position: relative;
}

@media only screen and (max-width: 43.75em) {
  .gallery {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    gap: 3rem;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: start;
  }
}

.gallery__container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(25rem, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
  row-gap: 4rem;
  -webkit-column-gap: 4rem;
          column-gap: 4rem;
}

.gallery__image {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
  -ms-grid-rows: (1fr)[2];
      grid-template-rows: repeat(2, 1fr);
}

.gallery__image img {
  width: 100%;
  grid-column: 1 / -1;
  grid-row: 1/ -1;
  cursor: pointer;
  z-index: 0;
  -webkit-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
}

@media only screen and (max-width: 43.75em) {
  .gallery__image img {
    width: 100%;
    height: 20rem;
    margin-bottom: 0;
    -o-object-fit: cover;
       object-fit: cover;
  }
}

.gallery__image img:hover {
  opacity: 0.2;
}

.gallery__image img:hover + h3 {
  color: black;
}

.gallery__image h3 {
  grid-column: 1 / -1;
  grid-row: 2/ -1;
  -ms-flex-item-align: end;
      align-self: flex-end;
  padding: 3rem;
  z-index: 1;
  -webkit-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
}

@media only screen and (max-width: 43.75em) {
  .gallery__image h3 {
    grid-row: 1/ -1;
    font-size: 3rem;
    padding-right: 30rem;
  }
}

.gallery__heading {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media only screen and (max-width: 43.75em) {
  .gallery__heading {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.button {
  background-color: white;
  color: black;
  border: 1px solid black;
  padding: 1.5rem 5rem;
  font-family: "Alata", sans-serif;
  font-size: 1.5rem;
  text-transform: uppercase;
  letter-spacing: 1rem;
  cursor: pointer;
  -webkit-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
}

.button:hover {
  color: white;
  background-color: black;
}

@media only screen and (max-width: 43.75em) {
  .button {
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
    position: absolute;
    top: 103%;
  }
}

.header {
  grid-column: full-start / full-end;
  padding-bottom: 10rem;
  padding-top: 5rem;
  background-image: url("../images/desktop/image-hero.jpg");
  background-position: top;
  background-size: cover;
  background-repeat: no-repeat;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: [full-start] minmax(6rem, 1fr) [center-start] ([col-start] minmax(min-content, 30rem) [col-end])[4] [center-end] minmax(6rem, 1fr) [full-end];
      grid-template-columns: [full-start] minmax(6rem, 1fr) [center-start] repeat(4, [col-start] minmax(-webkit-min-content, 30rem) [col-end]) [center-end] minmax(6rem, 1fr) [full-end];
      grid-template-columns: [full-start] minmax(6rem, 1fr) [center-start] repeat(4, [col-start] minmax(min-content, 30rem) [col-end]) [center-end] minmax(6rem, 1fr) [full-end];
  row-gap: 5rem;
}

@media only screen and (max-width: 31.25em) {
  .header {
    -ms-grid-columns: minmax(4rem, 1fr) auto minmax(0, 1fr) minmax(4rem, 1fr);
        grid-template-columns: minmax(4rem, 1fr) auto minmax(0, 1fr) minmax(4rem, 1fr);
  }
}

.header__logo {
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2 / 3;
}

@media only screen and (max-width: 31.25em) {
  .header__logo {
    grid-column: 2/-1;
  }
}

.header__logo--menu {
  position: absolute;
  top: -13%;
  padding-left: 4.5rem;
}

.header__nav {
  -ms-grid-column: 5;
  -ms-grid-column-span: 1;
  grid-column: 5 / 6;
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1/2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 2rem;
}

@media only screen and (max-width: 43.75em) {
  .header__nav {
    display: none;
  }
}

.heading-1, .heading-2, .heading-3 {
  text-transform: uppercase;
  font-family: "Alata", sans-serif;
  font-weight: 400;
  letter-spacing: 0.3rem;
  color: dimgray;
}

.heading-1 {
  color: white;
  padding: 3rem;
  border: 1px solid white;
  font-size: 5rem;
  width: 137%;
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2 / 3;
  margin-top: 15rem;
}

@media only screen and (max-width: 43.75em) {
  .heading-1 {
    width: 100%;
    font-size: 3rem;
  }
}

.heading-2 {
  font-size: 4rem;
}

@media only screen and (max-width: 43.75em) {
  .heading-2 {
    text-align: center;
  }
}

.heading-3 {
  font-size: 3rem;
  color: white;
}

.story__text {
  font-family: "Josefin Sans", sans-serif;
  font-size: 1.5rem;
  line-height: 1.5;
  color: #8c8c8c;
}

.mt-sm {
  margin-top: 4rem;
}

.mt-med {
  margin-top: 6rem;
}

.mt-large {
  margin-top: 20rem;
}

.navigation {
  display: none;
}

@media only screen and (max-width: 43.75em) {
  .navigation {
    display: block;
  }
}

.navigation__checkbox {
  display: none;
}

.navigation__button {
  position: fixed;
  top: 2rem;
  right: 2rem;
  height: 7rem;
  width: 7rem;
  cursor: pointer;
  z-index: 2000;
}

.navigation__list {
  list-style: none;
  -webkit-text-emphasis: center;
          text-emphasis: center;
  position: absolute;
  left: 8%;
}

.navigation__background {
  height: 7rem;
  width: 7rem;
  position: fixed;
  top: 2rem;
  right: 2rem;
  z-index: 1000;
}

.navigation__nav {
  height: 100vh;
  position: fixed;
  top: 20%;
  left: 0;
  z-index: 1500;
  opacity: 0;
  width: 0%;
  -webkit-transition: all 0.8s;
  transition: all 0.8s;
}

.navigation__link:link, .navigation__link:visited {
  display: inline-block;
  font-size: 3rem;
  font-family: "Alata", sans-serif;
  letter-spacing: 2px;
  line-height: 2;
  color: white;
  text-decoration: none;
}

.navigation__icon {
  position: relative;
  margin-top: 3.5rem;
}

.navigation__icon, .navigation__icon::before, .navigation__icon::after {
  width: 3rem;
  height: 2px;
  background-color: white;
  display: inline-block;
}

.navigation__icon::before, .navigation__icon::after {
  content: "";
  position: absolute;
  left: 0;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.navigation__icon::before {
  top: -0.8rem;
}

.navigation__icon::after {
  top: 0.8rem;
}

.navigation__checkbox:checked ~ .navigation__background {
  -webkit-transform: scale(80);
          transform: scale(80);
  background: black;
}

.navigation__checkbox:checked ~ .navigation__nav {
  opacity: 1;
  width: 100%;
}

.navigation__checkbox:checked ~ .navigation__button .navigation__icon {
  background-color: transparent;
}

.navigation__checkbox:checked ~ .navigation__button .navigation__icon::before {
  top: 0;
  -webkit-transform: rotate(135deg);
          transform: rotate(135deg);
}

.navigation__checkbox:checked ~ .navigation__button .navigation__icon::after {
  top: 0;
  -webkit-transform: rotate(-135deg);
          transform: rotate(-135deg);
}
/*# sourceMappingURL=main.css.map */